header{
    height: 70vh;
<<<<<<< HEAD
    padding-top: 2rem;
=======
    padding-top: 7rem;
>>>>>>> 8fbb177c28922f9ed11df08fd706cc3160746421
    overflow: hidden;
}
.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*---------------------CTA-----------------*/
.cta{
<<<<<<< HEAD
    padding-top: 1rem;
=======
    margin-top: 2.5rem;
>>>>>>> 8fbb177c28922f9ed11df08fd706cc3160746421
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*---------------------Me--------------*/
.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
<<<<<<< HEAD
    height: 35rem;
=======
    height: 30rem;
>>>>>>> 8fbb177c28922f9ed11df08fd706cc3160746421
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}
<<<<<<< HEAD
#imgMe{
    padding-top: 5rem;
}
=======
>>>>>>> 8fbb177c28922f9ed11df08fd706cc3160746421

 /*-------------media queris (medium devices)------------------------------*/
 @media screen and (max-width:1024px){
    header{
        height: 58vh;
    }
   }
  
   /*---------------media queris (small devices)-------------------------*/
   @media screen and (max-width:600px){
    header{
        height: 100vh;
    }
    .header_socials,
    .scroll_down{
        display: none;
    }
   }